Agrin.Full/Agrin.RapidService/Web References/RapidBazUsersService/WSDLapiusers.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:typens="urn:WSDLapiusers" xmlns="http://schemas.xmlsoap.org/wsdl/" name="WSDLapiusers" targetNamespace="urn:WSDLapiusers" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types />
  <wsdl:message name="Login">
    <wsdl:part name="user" type="xsd:string" />
    <wsdl:part name="pass" type="xsd:string" />
    <wsdl:part name="key" type="xsd:string" />
    <wsdl:part name="system" type="xsd:string" />
    <wsdl:part name="hours" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="LoginResponse">
    <wsdl:part name="LoginReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="Logout">
    <wsdl:part name="session" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="LogoutResponse">
    <wsdl:part name="LogoutReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="UserInfo">
    <wsdl:part name="session1" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="UserInfoResponse">
    <wsdl:part name="UserInfoReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="__construct">
    <wsdl:part name="x1" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="__constructResponse">
    <wsdl:part name="__constructReturn" type="xsd:integer" />
  </wsdl:message>
  <wsdl:message name="uptime" />
  <wsdl:message name="uptimeResponse">
    <wsdl:part name="uptimeReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="apiusersPortType">
    <wsdl:operation name="Login">
      <documentation>Login to the system</documentation>
      <wsdl:input message="typens:Login" />
      <wsdl:output message="typens:LoginResponse" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <documentation>Logout and kill the session</documentation>
      <wsdl:input message="typens:Logout" />
      <wsdl:output message="typens:LogoutResponse" />
    </wsdl:operation>
    <wsdl:operation name="UserInfo">
      <documentation>Get User Information For the Session</documentation>
      <wsdl:input message="typens:UserInfo" />
      <wsdl:output message="typens:UserInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="__construct">
      <documentation>Constructor</documentation>
      <wsdl:input message="typens:__construct" />
      <wsdl:output message="typens:__constructResponse" />
    </wsdl:operation>
    <wsdl:operation name="uptime">
      <documentation>Returns server uptime string</documentation>
      <wsdl:input message="typens:uptime" />
      <wsdl:output message="typens:uptimeResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="apiusersBinding" type="typens:apiusersPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="urn:apiusersAction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSDLapiusers" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSDLapiusers" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="urn:apiusersAction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSDLapiusers" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSDLapiusers" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserInfo">
      <soap:operation soapAction="urn:apiusersAction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSDLapiusers" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSDLapiusers" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__construct">
      <soap:operation soapAction="urn:apiusersAction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSDLapiusers" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSDLapiusers" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uptime">
      <soap:operation soapAction="urn:apiusersAction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSDLapiusers" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSDLapiusers" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSDLapiusersService">
    <wsdl:port name="apiusersPort" binding="typens:apiusersBinding">
      <soap:address location="http://rrm.rapidbaz.com/api/users/operate" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>