Agrin.Mobile/Old Android Free (Agrin.Android.UI) Version/Agrin.RapidService/Web References/RapidBazWebService/WSDLapiweb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:typens="urn:WSDLapiweb" xmlns="http://schemas.xmlsoap.org/wsdl/" name="WSDLapiweb" targetNamespace="urn:WSDLapiweb" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types />
  <wsdl:message name="CheckFile">
    <wsdl:part name="session" type="xsd:string" />
    <wsdl:part name="id" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="CheckFileResponse">
    <wsdl:part name="CheckFileReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="Extend">
    <wsdl:part name="session1" type="xsd:string" />
    <wsdl:part name="id1" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ExtendResponse">
    <wsdl:part name="ExtendReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="FolderGet">
    <wsdl:part name="session1" type="xsd:string" />
    <wsdl:part name="folder" type="xsd:string" />
    <wsdl:part name="limit" type="xsd:string" />
    <wsdl:part name="from" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="FolderGetResponse">
    <wsdl:part name="FolderGetReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="FolderList">
    <wsdl:part name="session1" type="xsd:string" />
    <wsdl:part name="limit1" type="xsd:string" />
    <wsdl:part name="from1" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="FolderListResponse">
    <wsdl:part name="FolderListReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="FolderMake">
    <wsdl:part name="session1" type="xsd:string" />
    <wsdl:part name="name" type="xsd:string" />
    <wsdl:part name="comments" type="xsd:string" />
    <wsdl:part name="type" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="FolderMakeResponse">
    <wsdl:part name="FolderMakeReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="FolderRemove">
    <wsdl:part name="session1" type="xsd:anyType" />
    <wsdl:part name="folderid" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="FolderRemoveResponse">
    <wsdl:part name="FolderRemoveReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="FolderReset">
    <wsdl:part name="session1" type="xsd:string" />
    <wsdl:part name="folderid1" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="FolderResetResponse">
    <wsdl:part name="FolderResetReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="Free">
    <wsdl:part name="session1" type="xsd:string" />
    <wsdl:part name="id1" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="FreeResponse">
    <wsdl:part name="FreeReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="Get">
    <wsdl:part name="session1" type="xsd:string" />
    <wsdl:part name="limit1" type="xsd:string" />
    <wsdl:part name="from1" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="GetResponse">
    <wsdl:part name="GetReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="MultiQueue">
    <wsdl:part name="session1" type="xsd:string" />
    <wsdl:part name="url" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="MultiQueueResponse">
    <wsdl:part name="MultiQueueReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="Queue">
    <wsdl:part name="session1" type="xsd:string" />
    <wsdl:part name="url1" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="QueueResponse">
    <wsdl:part name="QueueReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="QueueGet">
    <wsdl:part name="session1" type="xsd:string" />
    <wsdl:part name="limit1" type="xsd:string" />
    <wsdl:part name="from1" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="QueueGetResponse">
    <wsdl:part name="QueueGetReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="QueueRemove">
    <wsdl:part name="session1" type="xsd:string" />
    <wsdl:part name="qid" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="QueueRemoveResponse">
    <wsdl:part name="QueueRemoveReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="Rename">
    <wsdl:part name="session1" type="xsd:string" />
    <wsdl:part name="id1" type="xsd:string" />
    <wsdl:part name="name1" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="RenameResponse">
    <wsdl:part name="RenameReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="Repair">
    <wsdl:part name="session1" type="xsd:string" />
    <wsdl:part name="id1" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="RepairResponse">
    <wsdl:part name="RepairReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="SetFolder">
    <wsdl:part name="session1" type="xsd:string" />
    <wsdl:part name="folderid1" type="xsd:string" />
    <wsdl:part name="fileid" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="SetFolderResponse">
    <wsdl:part name="SetFolderReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="Status">
    <wsdl:part name="session1" type="xsd:string" />
    <wsdl:part name="qid1" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="StatusResponse">
    <wsdl:part name="StatusReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="__construct">
    <wsdl:part name="x1" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="__constructResponse">
    <wsdl:part name="__constructReturn" type="xsd:integer" />
  </wsdl:message>
  <wsdl:message name="uptime" />
  <wsdl:message name="uptimeResponse">
    <wsdl:part name="uptimeReturn" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="apiwebPortType">
    <wsdl:operation name="CheckFile">
      <documentation>Check transferred file status on the server</documentation>
      <wsdl:input message="typens:CheckFile" />
      <wsdl:output message="typens:CheckFileResponse" />
    </wsdl:operation>
    <wsdl:operation name="Extend">
      <documentation>ReRequest file to extend its lifetime</documentation>
      <wsdl:input message="typens:Extend" />
      <wsdl:output message="typens:ExtendResponse" />
    </wsdl:operation>
    <wsdl:operation name="FolderGet">
      <documentation>Gets you a list of files within a folder</documentation>
      <wsdl:input message="typens:FolderGet" />
      <wsdl:output message="typens:FolderGetResponse" />
    </wsdl:operation>
    <wsdl:operation name="FolderList">
      <documentation>Gets you a list of folders</documentation>
      <wsdl:input message="typens:FolderList" />
      <wsdl:output message="typens:FolderListResponse" />
    </wsdl:operation>
    <wsdl:operation name="FolderMake">
      <documentation>Create new folder type 0=private 1=public</documentation>
      <wsdl:input message="typens:FolderMake" />
      <wsdl:output message="typens:FolderMakeResponse" />
    </wsdl:operation>
    <wsdl:operation name="FolderRemove">
      <documentation>Delete a folder altogether</documentation>
      <wsdl:input message="typens:FolderRemove" />
      <wsdl:output message="typens:FolderRemoveResponse" />
    </wsdl:operation>
    <wsdl:operation name="FolderReset">
      <documentation>Reset a folder</documentation>
      <wsdl:input message="typens:FolderReset" />
      <wsdl:output message="typens:FolderResetResponse" />
    </wsdl:operation>
    <wsdl:operation name="Free">
      <documentation>Free file</documentation>
      <wsdl:input message="typens:Free" />
      <wsdl:output message="typens:FreeResponse" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <documentation>Gets you a list of files</documentation>
      <wsdl:input message="typens:Get" />
      <wsdl:output message="typens:GetResponse" />
    </wsdl:operation>
    <wsdl:operation name="MultiQueue">
      <documentation>Add multiple files to the queue - supports multiple urls URL\\FOLDERID;</documentation>
      <wsdl:input message="typens:MultiQueue" />
      <wsdl:output message="typens:MultiQueueResponse" />
    </wsdl:operation>
    <wsdl:operation name="Queue">
      <documentation>Add files to  the queue</documentation>
      <wsdl:input message="typens:Queue" />
      <wsdl:output message="typens:QueueResponse" />
    </wsdl:operation>
    <wsdl:operation name="QueueGet">
      <documentation>Gets you a list of files in queue and their status</documentation>
      <wsdl:input message="typens:QueueGet" />
      <wsdl:output message="typens:QueueGetResponse" />
    </wsdl:operation>
    <wsdl:operation name="QueueRemove">
      <documentation>Remove requests from queue before they are executed</documentation>
      <wsdl:input message="typens:QueueRemove" />
      <wsdl:output message="typens:QueueRemoveResponse" />
    </wsdl:operation>
    <wsdl:operation name="Rename">
      <documentation>Rename file</documentation>
      <wsdl:input message="typens:Rename" />
      <wsdl:output message="typens:RenameResponse" />
    </wsdl:operation>
    <wsdl:operation name="Repair">
      <documentation>Request Repair on File with id and returns qid which is reference on the repair</documentation>
      <wsdl:input message="typens:Repair" />
      <wsdl:output message="typens:RepairResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetFolder">
      <documentation>Assign file(s) to a folder - supports multiple fileids id;</documentation>
      <wsdl:input message="typens:SetFolder" />
      <wsdl:output message="typens:SetFolderResponse" />
    </wsdl:operation>
    <wsdl:operation name="Status">
      <documentation>Get queue stats for a file</documentation>
      <wsdl:input message="typens:Status" />
      <wsdl:output message="typens:StatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="__construct">
      <documentation>Constructor</documentation>
      <wsdl:input message="typens:__construct" />
      <wsdl:output message="typens:__constructResponse" />
    </wsdl:operation>
    <wsdl:operation name="uptime">
      <documentation>Returns server uptime string</documentation>
      <wsdl:input message="typens:uptime" />
      <wsdl:output message="typens:uptimeResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="apiwebBinding" type="typens:apiwebPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="CheckFile">
      <soap:operation soapAction="urn:apiwebAction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Extend">
      <soap:operation soapAction="urn:apiwebAction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FolderGet">
      <soap:operation soapAction="urn:apiwebAction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FolderList">
      <soap:operation soapAction="urn:apiwebAction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FolderMake">
      <soap:operation soapAction="urn:apiwebAction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FolderRemove">
      <soap:operation soapAction="urn:apiwebAction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FolderReset">
      <soap:operation soapAction="urn:apiwebAction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Free">
      <soap:operation soapAction="urn:apiwebAction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap:operation soapAction="urn:apiwebAction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MultiQueue">
      <soap:operation soapAction="urn:apiwebAction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Queue">
      <soap:operation soapAction="urn:apiwebAction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueueGet">
      <soap:operation soapAction="urn:apiwebAction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueueRemove">
      <soap:operation soapAction="urn:apiwebAction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rename">
      <soap:operation soapAction="urn:apiwebAction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Repair">
      <soap:operation soapAction="urn:apiwebAction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFolder">
      <soap:operation soapAction="urn:apiwebAction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Status">
      <soap:operation soapAction="urn:apiwebAction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="__construct">
      <soap:operation soapAction="urn:apiwebAction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uptime">
      <soap:operation soapAction="urn:apiwebAction" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:WSDLapiweb" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSDLapiwebService">
    <wsdl:port name="apiwebPort" binding="typens:apiwebBinding">
      <soap:address location="http://rrm.rapidbaz.com/api/web/operate" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>